
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.container {
    width: 90%;
    margin: auto;
  }
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
  /* .bg{
    background: url('assets/bgsoundwave.png') center / cover no-repeat ;
  } */
  .bg{
    background-image: url(assets/bgsoundwave.png);
    background-size: cover;
    background-position: center;
  }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logosound{
  display: flex;
  align-items: center;
  gap: 31px;
}
.logosound span{
    color: white;
    font-size: 40px;
    font-weight: 400;
    display: none;
}
ul{
    display: none;
}
/* this is for menu bar on mobile */
.menu i{
    font-size: 25px;
}
.hero{
  display: grid;
  color: white;
  gap: 2rem;
}
.feel_join p{
  font-size: 20px;
}
.feel_join h1{
  font-size: 40px;
}
.feel_join p{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 29px;
}
.feel_join button{
  padding: 15px 60px;
  border-radius: 10px;
  border:none;
  background:#1762A7;
  font-size: 20px;
}
.hero img{
  width: 100%;
}
/* discover page */
.bgdiscover{
  background: #2F303A;
}
.image_cam{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 40px;
  padding-bottom: 40px;
}
.image_cam img{
  width: 100%;
}
.s_discover{
  padding-top: 60px;
  display: grid;
  gap: 2rem;
  padding-bottom: 60px;
}
.s_discover h1{
  font-size: 40px;
  font-weight: 400px;
}
/* code for responsiveness */
@media screen and (min-width:1024px) {
    .logosound span{
        display: block;
    } 
    ul{
        display: flex;
        gap: 151px;
        font-size: 40px;
        list-style: none;
    } 
    ul a{
        color: #fff;
    }
    /* this is for menu bar on desktop */
    .menu{
        display: none;
    }
    .hero{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }
    .feel_join h1{
      font-size: 72px;
      color:white;
    }
    .feel_join p{
      line-height:  54px;
      font-size: 36px;
      margin-top: 39px;
      margin-bottom: 39px;
    }
    .feel_join button{
      font-size: 36px;
    }
    /* discover-responsive */
    .s_discover{
      padding-top: 146px;
      grid-template-columns: 60% 40%;
      gap: 0;
      align-items: center;
      padding-bottom: 146px;
    }
    .s_discover h1{
      font-size: 72px;
    }
    .image_cam img{
      width: 144px;
    }
    .image_cam{
      display: flex;
      padding-top: 52px;
      padding-bottom: 52px;
    }
}
